<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Codeforces Tracker</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
		a {
			text-decoration:none;
			color: black;
		}
		a:hover {
			color:	hotpink;
		}

	</style>
</head>
<body>
	<div id="app">
		<form @submit.prevent="submitForm">
			<input type="text" v-model="input_name">
			<input type="submit">
		</form>
		<p v-if="username.length">Username: <span style="color:blue;">{{ username }}</span></p>

		<input type="checkbox" id="div1" value="div1" v-model="selected">
		<label for="div1">Div 1</label>
		<input type="checkbox" id="div2" value="div2" v-model="selected">
		<label for="div2">Div 2</label>
		<input type="checkbox" id="div3" value="div3" v-model="selected">
		<label for="div3">Div 3</label>
		<input type="checkbox" id="educational" value="educational" v-model="selected">
		<label for="educational">Educational Rounds</label>

		<p v-show="errors.length">
			<ul v-for="error in errors">
				<li style="color: red">{{ error }}</li>
			</ul>
		</p>

		<table v-show="contests.length">
			<tr v-for="contest in contests" v-show="!selected.length || selected.includes(contest.type)">
				<td><a :href="contest.contest_link" target="_blank">{{ contest.name }}</a></td>
				<td v-for="problem in contest.problems" v-bind:bgcolor="problem.solved == 1 ? 'lightgreen': problem.solved == -1 ? '#ff471a' : ''"><a :href="problem.problem_link" target="_blank">{{ problem.index }}<span v-show="problem.result.localeCompare('SC') == 0">&#10004;</span></a></td>
			</tr>
		</table>

	</div>


	<script src="vue.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
	<script src='main.js'></script>
</body>
</html>
