<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Codeforces Tracker</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
		a {
			text-decoration:none;
			color: black;
		}
		a:hover {
			color:	hotpink;
		}

	</style>
</head>
<body>
	<div id="app">
		<form @submit.prevent="submitForm">
			<input type="text" v-model="input_name">
			<input type="submit">
		</form>
		<p v-if="username.length">Username: <span style="color:blue;">{{ username }}</span></p>
		<p v-show="errors.length">
			<ul v-for="error in errors">
				<li style="color: red">{{ error }}</li>
			</ul>
		</p>

		<table v-show="contests.length">
			<tr v-for="contest in contests">
				<td><a :href="contest.contest_link" target="_blank">{{ contest.name }}</a></td>
				<td v-for="problem in contest.problems"><a :href="problem.problem_link" target="_blank">{{ problem.index }}</a></td>
			</tr>
		</table>

	</div>


	<script src="vue.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
	<script src='main.js'></script>
</body>
</html>
